.image-wrapper {
  margin: 10px;
  width: fit-content;
  height: fit-content;
}
.outer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.extract-cordinates {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 4px;
  width: 500px;
  margin: 10px 10px 0px 10px;
  border: 1px solid gray;
}

.add-button {
  padding: 10px;
  background-color: blue;
  width: 80px;
  height: 20px;
  border-radius: 5px;
  margin: 10px;
}
.extract-box {
  position: absolute;
  border: 1px solid red;
}
